tmp*
delete/
*Zone.Identifier

# quarto
_site/*
/.quarto/
docs

# sbarchi-migranti
sbarchi-migranti/script/tmp/*
sbarchi-migranti/lavorazione/*

# soldi_e_politica
soldi_e_politica/dati/rawdata/*

# istituti_penitenziari
istituti_penitenziari/data/raw/*
.aider*
