tmp*
delete/
*Zone.Identifier
.aider*

# quarto
_site/*
/.quarto/
docs

# sbarchi-migranti
sbarchi-migranti/script/tmp/*
sbarchi-migranti/lavorazione/*

# soldi_e_politica
soldi_e_politica/dati/rawdata/*

# istituti_penitenziari
istituti_penitenziari/data/raw/*

# soldi e politica
soldi_e_politica/processing/*/*.csv

# registro volontà donazione organi
registro_volonta_donazione_organi/script/comuni_csv/*.csv
registro_volonta_donazione_organi/script/asl_csv/*.csv
registro_volonta_donazione_organi/script/output_province/*.csv
registro_volonta_donazione_organi/script/output_comuni/*.csv
